{{!--
  Displays the name of the composer at the top of their opera page. Allows the user to edit and save the name, and set the composer's node as either a source or a destination for creating relationships.
--}}

<div class='col-4 mb-3'>
  <div class='card'>
  {{!beingEdited state becomes true when the editName button is pressed.}}
    {{#if beingEdited}}
      <div class='card-header'>
        Name: {{input value=composer.composer}}
      </div>
      <div class='card=footer'>
      {{!The save button send an action up to the composer's component, which creates and activates a query to neo4j.}}
        {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'save')}}{{fa-icon 'save'}}{{bs-tooltip title="Save"}}{{/bs-button}}<br>
      </div>
    {{else}}
    {{!On mouseEnter reveals the edit button for the composer detail card. On mouseLeave hides it.}}
      <div class='card-header' {{action 'mouseEnter'}}>
        Name: {{composer.composer}}
      </div>
      {{!hovering state becomes true when mouseEnter is activated and false when mouseLeave.}}
      {{#if hovering}}
      <div class='card-footer'>
        {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'editName')}}{{fa-icon 'edit'}}{{bs-tooltip title="Edit Name"}}{{/bs-button}}
        {{#if rb.settingDestination}}
          {{#bs-button class="btn btn-xs btn-outline-warning" onClick=(action 'setDestination' composer.composer_id)}}{{bs-tooltip title="Set as Destination"}}{{fa-icon 'pencil-alt'}}{{/bs-button}}
        {{else}}
          {{#bs-button class="btn btn-xs btn-outline-success" onClick=(action 'setSource' composer.composer_id)}}{{fa-icon 'pencil-alt'}}{{bs-tooltip title="Set as Source"}}{{/bs-button}}
        {{/if}}
      </div>
      {{/if}}
    {{/if}}
  </div>
</div>