<div class='container border border-disabled' onclick={{action 'toggle'}}>
  <div class='row' style='margin-top:13px;'>
    <div class='col' style='position:relative;'>
      <div id='destination' style='position:absolute;right:10px;'>
      </div>
      {{#if editingEdges}}
        {{#bs-button type='button' class='group-list-item btn-outline-danger btn-xl' onClick=(action 'toggleConnections')}}{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}{{/bs-button}}
        <span style='opacity:0.75;'> Drag to create a relationship </span>
      {{else}}
        {{#bs-button type='button' class='group-list-item btn-outline-success btn-xl' onClick=(action 'toggleConnections')}}{{fa-icon 'pen-nib'}}{{bs-tooltip title='Draw Relationships'}}{{/bs-button}}
        {{#bs-button type='button' class='group-list-item btn-outline-primary btn-xl' onClick=(action 'searchBar')}}{{fa-icon 'search'}}{{bs-tooltip title='Search'}}{{/bs-button}}
        {{#bs-button type='button' class='group-list-item btn-outline-warning btn-xl' onClick=(action 'clear')}}{{fa-icon 'trash'}}{{bs-tooltip title='Clear Canvas'}}{{/bs-button}}
        {{#if searching}}

          {{!Label Choice}}
          {{#power-select renderInPlace=true selected=labelChoice options=labels onchange=(action 'addLabel') as |type|}}
            {{type}}
          {{/power-select}}

          {{#if labelIsChosen}}

          {{!Property Choice}}
          {{#power-select renderInPlace=true selected=propertyChoice options=properties onchange=(action 'addProperty') as |type|}}
            {{type}}
          {{/power-select}}

          {{#if propertyIsChosen}}

          {{input class='form-control' type='text' value=searchValue}}{{#bs-button onClick=(action 'search' searchValue)}}Search{{/bs-button}}

          {{#if noName}}
            <span style='opacity:0.70;color:red;'>
              &nbsp;Please enter a search term
            </span>
          {{/if}}

          {{/if}}
        {{/if}}

          

        {{/if}}
      {{/if}}
    </div>
      <div class='col-12'>
        {{#visjs-network bubbles=false storeAs=edgesNetwork addEdges=editingEdges options=options edgeAdded=(action "edgeAdded") canvasSelect=(action 'double')}}
          {{#each model as |node|}}
            {{#if node.isNode}}
              {{node-view bubbles=false node=node id=node.id}}
            {{else}}
              {{visjs-edge eId=node.id from=node.start to=node.end arrows='to' select=(action 'selectEdge')}}
            {{/if}}
          {{/each}}
        {{/visjs-network}}
      </div>
  </div>
</div>

{{#if rb.showModal}}
  {{#bs-modal backdropClose=false keyboard=false closeButton=false onSubmit=(action 'submit') as |modal|}}

    {{#modal.body}}
      Relationship Type: {{#power-select renderInPlace=true selected=choice options=types onkeydown=(action 'customRel') onchange=(action "chooseType") as |type|}}
      {{type}}
      {{/power-select}}
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'close')}}{{fa-icon 'times'}}{{bs-tooltip title="Close"}}{{/bs-button}}
      {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'submit')}}{{fa-icon 'check'}}{{bs-tooltip title="Create"}}{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}