{{visjs-node nId=node.id bubbles=false label=node.name cid=node.cid posX=node.posX posY=node.posY color=node.color select=(action 'selectNode' node.id)  selectDouble=(action 'double') hover=(action 'focusNode') blur=(action 'blur')}}
  
{{#if isHovering}}
  <strong>{{node.name}}</strong>
  <div class='badge badge-pill' style='background:{{node.color}}'>
  {{node.labels}}
  </div>
{{/if}}



 {{#if node.isVisible}} {{!This is the toolbar section of the node-view component. It has the node's editing buttons}}
    {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs text-right' onClick=(action 'close')}}{{fa-icon 'times'}}{{bs-tooltip title='Close'}}{{/bs-button}}<br>

    
      {{#if isEditing}}
        <div class='row'>
          <label for="name" class='col-sm-9 col-form-label'> Node Name: {{node.name}}</label>
        </div>
      {{else}}
        <div class='row'>
          <label for="name" class='col-sm-9 col-form-label'> Node Name: {{node.name}}</label>
          <div>
            {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'editModeEnable')}}{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Properties'}}{{/bs-button}}
          </div>
        </div>
        <div class='row'>
        <div class='col-md-6'>
          <label for="name" class='badge badge-pill' style='background:{{node.color}}'>{{node.labels}}</label>
          </div>
        </div>
      {{/if}}
    

    {{#if isEditing}} {{!===================== This appears when isEditing is true ===================}}
      {{#power-select renderInPlace=true selected=choice options=types onchange=(action "chooseType") as |type|}}
        {{type}}
      {{/power-select}}
      <hr>
      {{#bs-form onSubmit=(action "saveAllProperties") as |form|}}
      {{#each-in node.properties as |key value|}}
      <form>
        <div class='form-group row'>
          <label for='key' class='col-sm-2 col-form-label'>
            {{input type='textarea' class='form-control' value=key focus-out=(action 'blurKey' key value)}}
          </label>
          <div class='col-sm-10'>
            <div class='col-sm-10'>
              {{input type='textarea' class='form-control' value=value focus-out=(action 'blurValue' key)}}
              {{#if confirmPropertyDelete}}
                {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'cancel' key)}}{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}{{/bs-button}}
                {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmPropertyDelete' key)}}{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}{{/bs-button}}
              {{else}}
                {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'deleteProperty')}}{{fa-icon 'trash'}}{{bs-tooltip title='Delete Property'}}{{/bs-button}}
              {{/if}}
            </div>
          </div>
        </div>
      </form>
      {{/each-in}}
      {{#if newProperty}}
        <form>
          <div class='form-group row'>
            <label for='key' class='col-sm-2 col-form-label'>
            {{#bs-button onClick=(action 'closeNewProperty')}}{{fa-icon 'times'}}{{/bs-button}}
              {{input type='textarea' class='form-control' value=newPropertyKey focus-out=(action 'blurNewPropertyKey' value newPropertyKey)}}
            </label>
            <div class='col-sm-10'>
              <div class='col-sm-10'>
                {{input type='textarea' class='form-control' value=newPropertyValue focus-out=(action 'blurNewPropertyValue' newPropertyValue newPropertyKey)}}
              </div>
              </div>
          </div>
        </form>

    {{/if}}
      {{#bs-button type="primary" class='group-list-item btn-outline-success btn-xs' buttonType='submit'}}{{fa-icon 'save'}}{{bs-tooltip title='Save All Properties'}}{{/bs-button}}
      {{!newProperty creates a new property which is automatically updated in the model, and therefore added to the list of properties and displayed.}}
      {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'newProperty')}}{{fa-icon 'plus-square'}}{{bs-tooltip title='Add Property'}}{{/bs-button}}
      {{#if confirmNodeDelete}}
        {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xl' onClick=(action 'cancelNodeDelete' node)}}{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}{{/bs-button}}
        {{#bs-button type="button" class='group-list-item btn-outline-success btn-xl' onClick=(action 'confirmNodeDelete' node)}}{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}{{/bs-button}}
      {{else}}
        {{#bs-button type="button" class='group-list-item btn-outline-warning btn-xl' onClick=(action 'deleteNode' node)}}{{fa-icon 'trash'}}{{bs-tooltip title='Delete Node'}}{{/bs-button}}
      {{/if}}
    {{/bs-form}}
    {{else}}{{!======================== This appears when isEditing is false =========================}}
        
    Types of connected Labels <br>
    {{#each-in node.labelCount as |key value|}}
      {{value}} instance(s) of "{{key}}"<br>
    {{/each-in}}
    <hr>
    Types of connected Relationships <br>
    {{#each-in node.relationshipCount as |key value|}}
      {{value}} instance(s) of "{{key}}"<br>
    {{/each-in}}
    <hr>
      {{#each-in node.properties as |key value|}}
        <form>
          <div class='form-group row'>
            <label for='key' class='col-sm-2 col-form-label'>{{key}}:</label>
              <div class='col-sm-10'>
                <div class='col-sm-10'>
                  {{value}}
                </div>
              </div>
          </div>
        </form>
      {{/each-in}}
      
    {{/if}}
  {{/if}}