{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{node.name}}{{/text.headline}}
      {{#text.subhead}}{{node/node-labels labels=node.labels color=node.color}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content}}
  {{#if isEditing}}
      {{#paper-form onSubmit=(action "saveNode") as |form|}}
        <div class="layout-row">
          <div class="layout-column">
            {{#form.input label=(if (gt node.labels 1) "Labels" "Label") onChange=(action (mut node.labels) name)}}
              {{#power-select-multiple options=labels selected=name placeholder="Select some names..." onchange=(action (mut name)) onkeydown=(action "createNewLabel") as |name|}}
                {{name}}
              {{/power-select-multiple}}
            {{/form.input}}

            {{#each-in node.properties as |key value|}}
              {{!-- {{form.input label=key value=value onChange=(action (mut value)) required=true}} --}}
            {{/each-in}}
            {{!-- {{form.input label="First Name" value=firstName onChange=(action (mut firstName)) required=true}} --}}
          </div>
        </div>
        <div class="layout-row">
          {{!-- {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}} --}}
        </div>
      {{/paper-form}}
    {{else}}
    {{node/node-properties node=node isEditing=isEditing}}
    {{/if}}
  {{/card.content}}

  {{#card.actions}}

    {{#if isEditing}}
      {{#paper-button raised=true fab=true onClick=(action "saveNode")}}{{paper-icon "save"}}{{/paper-button}}
    {{else}}
      {{#paper-button raised=true fab=true primary=true onClick=(action "editNode")}}{{paper-icon "create"}}{{/paper-button}}
    {{/if}}

    {{#if isDeleting}}
      {{#paper-button raised=true fab=true accent=true onClick=(action "cancelDeleteNode")}}{{paper-icon "delete"}}{{/paper-button}}
      {{#paper-button raised=true fab=true onClick=(action "deleteNode")}}{{paper-icon "delete"}}{{/paper-button}}
    {{else}}
      {{#paper-button raised=true fab=true warn=true onClick=(action "deleteNode")}}{{paper-icon "delete"}}{{/paper-button}}
    {{/if}}

  {{/card.actions}}
{{/paper-card}}