<div class='jumbotron border' onclick={{action 'editModeAltClick'}} style="background:white;margin:0;padding:0;">
  <div class='row'>
    <div class='col'>
      <div id='destination' style='position:absolute;right:25px;top:5px'>
      </div>
    </div>
    <div class='col-12'>
      {{#visjs-network bubbles=false storeAs=edgesNetwork addEdges=editingEdges options=options edgeAdded=(action "isAddingNewEdge") canvasSelect=(action 'doubleClickInCanvas')}}
        {{#each model as |node|}}
          {{#if node.isNode}}
            {{node-view bubbles=false node=node id=node.id}}
          {{else}}
            {{visjs-edge eId=node.id from=node.start to=node.end arrows='to' select=(action 'edgeIsSelected')}}
          {{/if}}
        {{/each}}
      {{/visjs-network}}
    </div>
  </div>
</div>

{{!-- Modal to create edges --}}
{{#if rb.showModal}}
  {{#bs-modal backdropClose=false keyboard=false closeButton=false onSubmit=(action 'submit') as |modal|}}
    {{#modal.body}}
      Relationship Type: 
      {{#power-select renderInPlace=true selected=choice options=types onkeydown=(action 'addCustomRelOnEnter') onchange=(action "chooseEdgeTypeToCreate") as |type|}}
        {{type}}
      {{/power-select}}
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'closeModalNoEdge')}}
        {{fa-icon 'times'}}
        {{bs-tooltip title="Close"}}
      {{/bs-button}}
      {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmEdgeAdd')}}
        {{fa-icon 'check'}}
        {{bs-tooltip title="Create"}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}