<div class="container-fluid" style="overflow:auto;">
  {{#bs-accordion as |acc|}}

  {{!-- Creating Nodes --}}
    {{#acc.item value=1 title="Creating your first node"}}
      <p>Creating a node with Graph9 is simple.</p>
      <ul>
        <li>
        Double click anywhere in the visualization window to create a node at your mouse pointer's coordinates.
        <img src="/assets/images/nodeCreation.gif" alt="Double clicking to create new node" height="95px" width="100px">
        </li>
      </ul>
      <hr>
      <button class="guide-navigation" {{action acc.change 2}}>Editing Nodes</button>
    {{/acc.item}}

  {{!-- Editing Nodes --}}
    {{#acc.item value=2 title="Editing your nodes"}}
    {{!-- Editing properties --}}
      <p>
        <h5>
          How to add new properties:
        </h5>
        <ul>
          <li>
            Click on the node you want to change.
          </li>
          <li>
            On the right hand side of the screen, click on the <button class="button confirm">{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}</button> icon to enable editing mode.
          </li>
          <li>
            You will see all of the properties change into text inputs. Click on the <button class="button confirm">{{fa-icon 'plus-square'}}{{bs-tooltip title='Add Property'}}</button> to add a new property
          </li>
          <li>
            You can now enter the name(key) of your property and its value into the new text boxes.

            <div class="row">
              <label for='key' class='col-5'>
                {{input type='textarea' class='form-control' value="key"}}
              </label>
              <div class='col-5.5'>
                {{input type='textarea' class='form-control' value="value"}}
              </div>
            </div>
          </li>
          <li>
            When you are satisfied with your node's properties and labels, click on the <button class="button confirm">{{fa-icon 'save'}}{{bs-tooltip title='Save all Properties'}}</button> icon to save all the changes you've made.
          </li>
        </ul>
      </p>

      {{!-- Deleting Properties --}}
      <p>
        <h5>
          Deleting Properties:
        </h5>
        <ul>
          <li>
            To delete a properties, enter edit mode by clicking the <button class="button confirm">{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}</button>.
          </li>
          <li>
            Click on the <button class="button cancel">{{fa-icon 'trash'}}{{bs-tooltip title='Delete Property'}}</button> next to the property that you want to delete.
          </li>
          <li>
            You can cancel deleting properties by clicking
            <button class="button cancel">{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}</button>, or press <button class="button confirm">{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}</button> to confirm.
          </li>
        </ul>
        <br>
        <span class="warning">
          Unsaved changes will be lost!
        </span>
      </p>

    {{!-- Editing labels --}}
    <p>
      <h5>
        How to edit labels:
      </h5>
      <ul>
        <li>
          To edit a label, first ensure that you are in editing mode (see above). <button class="button confirm">{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}</button>
        </li>
        <li>
          Click on the dropdown menu to choose a label type.
          <div class="row">
            <div class="col-3">
              {{#power-select renderInPlace=true selected=labelChoice options=labelTypes onchange=(action 'chooseLabel') as |type|}}
                {{type}}
              {{/power-select}}
            </div>
          </div>
        </li>
        <li>
          If you already have the label that you want in your database, select it from the list. Otherwise you will have to create your own.
          <ul>
            <li>
              To create your own label, click on the dropdown menu and start typing in the name of the label that you want to create.
            </li>
            <li>
              When you've entered the label that you want to create, press enter on your keyboard.
            </li>
          </ul>
        </li>
        <li>
          When you select or create a label, you should see that label appear above the dropdown menu. <label for="name" class='badge badge-pill' style='background:#3893e8'>Label{{bs-tooltip title="Label"}}</label>
        </li>
        <li>
          Remember to press the <button class="button confirm">{{fa-icon 'save'}}{{bs-tooltip title='Save all Properties'}}</button> button before exiting or reloading the page to ensure that your changes are persisted in the database.
        </li>
      </ul>
    </p>

    {{!-- Deleting Labels --}}
    <p>
      <h5>
        Deleting Labels:
      </h5>
      <ul>
        <li>
          To delete a label, make sure that you have enabled edit mode.
        </li>
        <li>
          Click on the small {{#bs-button class='badge badge-pill badge-outline remove-label-button'}}
            {{fa-icon 'times'}}
          {{/bs-button}} inside the label <label for="name" class='badge badge-pill' style='background:#3893e8'>Label
          {{#bs-button class='badge badge-pill badge-outline remove-label-button' }}
            {{fa-icon 'times'}}
          {{/bs-button}} </label>.
        </li>
        <li>
          This will remove the label from the node after the save button has been pressed.
        </li>
      </ul>

      <span class="warning">
        Sometimes your label will not appear above the dropdown. This is a visual bug. Your node will still have whatever label you have chosen assigned to it as long as you press save.
      </span>
      <hr>
    </p>
    <button class="guide-navigation" {{action acc.change 3}}>How do labels work?</button>
    {{/acc.item}}

  {{!-- Relationships --}}
    {{#acc.item value=3 title="Creating relationships"}}

    {{!-- Creating Relationships --}}
      <p>
        <h5>
          Creating relationships:
        </h5>
        <ul>
          <li>
            To create a relationship, you must enter the relationship editing mode. To do this, click on the 
            {{#if isEditing}}
              <button {{action "toggleEditing"}} class="button cancel">{{fa-icon "times"}}{{bs-tooltip title="Draw Relationships"}}</button>
            {{else}}
              <button {{action "toggleEditing"}} class="button confirm">{{fa-icon "pen-nib"}}{{bs-tooltip title="Draw Relationships"}}</button>
            {{/if}} above the visualization area.
          </li>
          <li>
            When you have changed modes, the button will go from green to red.
          </li>
          <li>
            Click and drag from one of the nodes to any other node in the visualization window and release the mouse.
          </li>
          <li>
            Next, choose what kind of relationship you want to create from the dropdown menu.
            <ul>
              <li>
                To create a new relationship, click on the dropdown menu and start typing.
              </li>
              <li>
                When you've entered the relationship type, press enter on your keyboard.
              </li>
            </ul>
          </li>
          <li>
            
            
            Click on <button class="button confirm">{{fa-icon 'check'}}{{bs-tooltip title="Create"}}</button> to create the chosen relationship between the two nodes, or click on the <button class="button cancel">{{fa-icon 'times'}}{{bs-tooltip title="Close"}}</button> to cancel.
          </li>
        </ul>

        <span class="warning">
          Cancelling a relationship will still create a line between the nodes in the visualization, but the relationship will not have been created in the database. The line will me removed upon reloading the page.
        </span>
        <br>
        <span class="warning">
          The relationship's direction will not be revealed in the visualization until the page has been reloaded.
        </span>
      </p>

    {{!-- Deleting Relationships --}}
    <p>
      <h5>
        Deleting Relationships:
      </h5>
      <ul>
        <li>
          To delete a relationship, enter the relationship editing mode. {{#if isEditing}}
              <button {{action "toggleEditing"}} class="button cancel">{{fa-icon "times"}}{{bs-tooltip title="Draw Relationships"}}</button>
            {{else}}
              <button {{action "toggleEditing"}} class="button confirm">{{fa-icon "pen-nib"}}{{bs-tooltip title="Draw Relationships"}}</button>
            {{/if}}
        </li>
        <li>
          Then click on the <button class="button confirm">{{fa-icon "eraser"}}{{bs-tooltip title="Delete Relationships"}}</button> button. This will enable edge delete mode. To cancel this, click on <button class="button cancel">{{fa-icon "times"}}{{bs-tooltip title="Delete Relationships"}}</button>
        </li>
        <li>
          Click on the relationship that you want to delete and it will be removed from the database.
        </li>
      </ul>
      <span class="warning">
        The edge will not appear to be removed in the visualization, but will disappear upon reloading the page.
      </span>
    </p>
    {{/acc.item}}
   {{/bs-accordion}}
</div>