<div class="node-canvas-toolbar">
  <div class="button-group">
    
    {{#if editingEdges}}
      {{!-- Close editing mode --}}
      <button {{action "toggleEditingEdges"}} class="button cancel">{{fa-icon "times"}}{{bs-tooltip title="Cancel"}}</button>
      {{#if edgeDelete}}
        <button {{action "edgeDelete"}} class="button cancel">{{fa-icon "times"}}{{bs-tooltip title="Delete Relationships"}}</button>
      {{else}}
        <button {{action "edgeDelete"}} class="button confirm">{{fa-icon "eraser"}}{{bs-tooltip title="Delete Relationships"}}</button>
      {{/if}}
      {{#if searching}}
      {{else}}
        <span class="info-text">&nbsp;Drag to create a relationship</span>
      {{/if}}
    {{else}}

      {{!-- Draw relationships --}}
      <button {{action "toggleEditingEdges"}} class="button confirm">{{fa-icon "pen-nib"}}{{bs-tooltip title="Draw Relationships"}}</button>

      {{!-- Start search process --}}
      <button {{action "startSearchByLoadingLabels"}} class="button confirm">{{fa-icon "search"}}{{bs-tooltip title="Search"}}</button>

      {{!-- Clear canvas --}}
      {{#if clearingCanvas}}
        <button {{action "cancelClearCanvas"}} class="button cancel">{{fa-icon "times"}}</button>
        <button {{action "clearNodesFromCanvasConfirm"}} class="button confirm">{{fa-icon "check"}}{{bs-tooltip title="Clear Canvas"}}</button>
        Are you sure you want to clear the canvas?
      {{else}}
        <button {{action "clearCanvasCheck"}} class="button cancel">{{fa-icon "trash"}}</button>
      {{/if}}
    {{/if}}

    {{!-- Search Breadcrumbs --}}
    {{#if labelIsChosen}}
      <span class="breadcrumbs">
      <span class="search-query">{{labelChoice}}</span>
      {{#if propertyIsChosen}}
        <span class="search-query">/&nbsp;&nbsp;{{propertyChoice}}</span>
        {{#if searching}}
          <span class="search-query">/&nbsp;&nbsp;{{searchQuery}}</span>
        {{/if}}
      {{/if}}
      </span>
    {{/if}}
  </div>



  {{#if searching}}
  <div class="searching">
    {{!-- Label Choice --}}
    <div class="search-choice">
      {{#each labels as |label labelIndex|}}
        <button {{action "useLabelToChooseProperty" label}} class="search-param">{{label}}</button>
      {{else}}
        <span class="info-text">Looking for labels...
        Try double clicking to create a new node</span>
      {{/each}}
    </div>

      {{#if labelIsChosen}}
      <div class="search-choice">
        {{!-- Property Choice --}}
        {{#each properties as |property propertyIndex|}}
          <button {{action "usePropertyToSearch" property}} class="search-param">{{property}}</button>
        {{else}}
          <span class="info-text">Looking for properties...</span>
        {{/each}}
      </div>

          {{!-- Search Bar --}}
          {{#if propertyIsChosen}}
            <div class="search-form">
              {{#bs-form formLayout="inline" model=this onSubmit=(action "searchForNodes") as |form|}}
                {{form.element controlType="text" class="search-bar" placeholder="Search" property="searchQuery" required=true}}
                {{bs-button defaultText="Search" class="search-button" buttonType="submit"}}
              {{/bs-form}}
            </div>
          {{/if}}

    {{/if}}
    </div>
  {{/if}}
  </div>



{{visualization/node-canvas bubbles=false model=model edgeDelete=edgeDelete toggleEditMode=(action "toggleEditMode") editingEdges=editingEdges}}