<div class="btn-toolbar">
  
  <div class="btn-group mr-2" role="group">
    {{#if editingEdges}}
      {{!-- Close editing mode --}}
      {{#bs-button type="button" class="group-list-item btn-outline-danger btn-xl" onClick=(action "toggleEditingEdges")}}
        {{fa-icon "times"}}
        {{bs-tooltip title="Cancel"}}
      {{/bs-button}}
      {{#if edgeDelete}}
        {{#bs-button class="btn btn-outline-success" onClick=(action "edgeDelete")}}
          {{fa-icon "times"}}
          {{bs-tooltip title="Delete Relationships"}}
        {{/bs-button}}
      {{else}}
        {{#bs-button class="btn btn-outline-success" onClick=(action "edgeDelete")}}
          {{fa-icon "eraser"}}
          {{bs-tooltip title="Delete Relationships"}}
        {{/bs-button}}
      {{/if}}
      {{#if searching}}
      {{else}}
        <p class="text-secondary">&nbsp;Drag to create a relationship</p>
      {{/if}}
    {{else}}
      {{!-- Draw relationships --}}
      {{#bs-button type="button" class="group-list-item btn-outline-success btn-xl" onClick=(action "toggleEditingEdges")}}
        {{fa-icon "pen-nib"}}
        {{bs-tooltip title="Draw Relationships"}}
      {{/bs-button}}
      {{!-- Start search process --}}
      {{#bs-button type="button" class="group-list-item btn-outline-primary btn-xl" onClick=(action "startSearchByLoadingLabels")}}
        {{fa-icon "search"}}
        {{bs-tooltip title="Search"}}
      {{/bs-button}}
      {{!-- Clear canvas --}}
      {{#bs-button type="button" class="group-list-item btn-outline-warning btn-xl" onClick=(action "clearNodesFromCanvas")}}
        {{fa-icon "trash"}}
        {{bs-tooltip title="Clear Canvas"}}
      {{/bs-button}}
    {{/if}}

    {{#if labelIsChosen}}
      &nbsp;<p class="text-secondary">{{labelChoice}}</p>
      {{#if propertyIsChosen}}
        &nbsp;/&nbsp;<p class="text-secondary">{{propertyChoice}}</p>
        {{#if searching}}
          &nbsp;/&nbsp;<p class="text-secondary">{{searchQuery}}</p>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  {{#if searching}}
    {{!-- Label Choice --}}
    <div style="overflow-x:auto;">
      {{#bs-button-group value=labelIndex type="radio" onChange=(action (mut labelIndex)) as |labelButton|}}
        {{#each labels as |label labelIndex|}}
          {{#labelButton.button type="light" value=labelIndex onClick=(action "useLabelToChooseProperty" label)}}
            {{label}}
          {{/labelButton.button}}
        {{else}}
          <p class="text-secondary">&nbsp;Looking for labels...
          Try double clicking to create a new node</p>
        {{/each}}
      {{/bs-button-group}}
    </div>

    {{#if labelIsChosen}}
      {{!-- Property Choice --}}
      <div style="overflow-x:auto">
        {{#bs-button-group value=propertyIndex type="radio" onChange=(action (mut propertyIndex)) as |propertyButton|}}
          {{#each properties as |property propertyIndex|}}
            {{#propertyButton.button type="light" value=propertyIndex onClick=(action "usePropertyToSearch" property)}}
              {{property}}
            {{/propertyButton.button}}
          {{else}}
            <p class="text-secondary">&nbsp;Looking for properties...</p>
          {{/each}}
        {{/bs-button-group}}
      </div>

      <div class="row">
        <div class="col">
          {{!-- Search Bar --}}
          {{#if propertyIsChosen}}
            {{#bs-form formLayout="inline" model=this onSubmit=(action "searchForNodes") as |form|}}
              {{form.element controlType="text" placeholder="Search" property="searchQuery" required=true}}
              {{bs-button defaultText="Search" type="success" buttonType="submit"}}
            {{/bs-form}}
          {{/if}}
        </div>
      </div>

    {{/if}}
  {{/if}}
</div>


{{node-canvas bubbles=false model=model edgeDelete=edgeDelete toggleEditMode=(action "toggleEditMode") editingEdges=editingEdges}}