{{#basic-dropdown as |dd|}}
  {{#dd.trigger class="trigger-bootstrap-feel"}}
    {{fa-icon 'user'}} {{currentUser}}<br>
  {{/dd.trigger}}
    {{#dd.content class="content-bootstrap-feel"}}
    <div class="list-group list-group-item-action active">
      <a class="list-group-item list-group-item-action list-group-flush">{{connection}}</a>
      <a class='list-group-item list-group-item-action list-group-flush' {{action 'goToGuide'}}>See Guides</a>
      <a class='list-group-item list-group-item-action list-group-flush' {{action 'logout'}}>Logout {{fa-icon 'sign-out-alt'}}</a>
    </div>
  {{/dd.content}}
{{/basic-dropdown}}