<div class='row'>
  <div class='col-11'>
  </div>
  <div style='right:0;'>
      {{#bs-button type="button" class='group-list-item btn-light btn close-edit' onClick=(action 'close')}}{{fa-icon 'times'}}{{bs-tooltip title='Close'}}{{/bs-button}}<br>
  </div>
</div>
<hr>


<div class='row'>
  <div class='col'>
    {{#if isEditing}}
      <h4>{{input type='textarea' class='form-control' value=model.name focus-out=(action 'blurNewName' model.name)}}</h4>
    {{else}}
      {{#if nameEdit}}
        <h4>{{input type='textarea' class='form-control' value=model.name focus-out=(action 'blurNewName' model.name)}}</h4>
      {{else}}
        <h4 {{action 'editName' model.name}}>{{model.name}}</h4>
      {{/if}}

    {{/if}}
  </div>
  {{#if isEditing}}
  {{else}}
  <div class='col-1'>
  </div>
    <div style='position:absolute;right:0;'>
      {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'editModeEnable')}}{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}{{/bs-button}}
    </div>

    {{/if}}
</div>


{{#if isEditing}}
  {{#each model.labels as |label|}}
    <div class='row'>
        <label for="name" class='badge badge-pill' style='background:{{model.color}}'>
          {{bs-tooltip title=label}}
          {{label}}
          {{#bs-button class='badge badge-pill badge-outline delete-label' onClick=(action 'deleteLabel' label)}}
            {{fa-icon 'times'}}
          {{/bs-button}}
        </label>
    </div>
  {{/each}}
{{else}}
  <div class='row'>
    <div class='col'>
    {{#each model.labels as |label|}}
      <label for="name" class='badge badge-pill' style='background:{{model.color}}'>{{bs-tooltip title=label}}{{label}}</label>
    {{/each}}
    </div>
  </div>
{{/if}}

  {{#if isEditing}}    
    
    {{#power-select renderInPlace=true selected=labelChoice options=labelTypes onkeydown=(action 'customLabel') onchange=(action 'chooseLabel') as |type|}}
      {{type}}
    {{/power-select}}
    
  {{/if}}

<hr>

{{!--Lists the node properties--}}
{{#if isEditing}}

  {{#each-in model.properties as |key value|}}
    <form>

      {{!Editable property key}}
      <div class='form-group row' style='padding-bottom:5px;'>

        <label for='key' class='col-5'>
          {{input type='textarea' class='form-control' value=key focus-out=(action 'blurKey' key value)}}
        </label>

        {{!Editable property value}}
        <div class='col-6.5'>
          {{input type='textarea' class='form-control' value=value  focus-out=(action 'blurValue' key)}}
        </div>

        {{!Delete property button}}
        {{#if confirmPropertyDelete}}

          <div class='col'>
            {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'cancelPropertyDelete')}}{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}{{/bs-button}}
            {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmPropertyDelete' key)}}{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}{{/bs-button}}
          </div>

        {{else}}



          <div class='col'>
            {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'deleteProperty')}}{{fa-icon 'trash'}}{{bs-tooltip title='Delete Property'}}{{/bs-button}}
          </div>

          

        {{/if}}
      </div>
    </form>
  {{/each-in}}

{{#if newProperty}}
  <form>
    <div class='form-group row'>
      <div class='col-5'>
        {{input type='textarea' class='form-control' value=newPropertyKey focus-out=(action 'blurNewPropertyKey' value newPropertyKey)}}
      </div>
        <div class='col col-7'>
          {{input type='textarea' class='form-control' value=newPropertyValue focus-out=(action 'blurNewPropertyValue' newPropertyValue newPropertyKey)}}
        </div>
    </div>
  </form>
{{/if}}

  {{!New property}}
  {{#bs-button type="primary" class='group-list-item btn-outline-success btn-xs' onClick=(action 'save')}}{{fa-icon 'save'}}{{bs-tooltip title='Save all Properties'}}{{/bs-button}}
  {{#if newProperty}}
    {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'closeNewProperty')}}
      {{fa-icon 'times'}}
      {{bs-tooltip title='Cancel'}}
    {{/bs-button}}
  {{else}}
    {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'newProperty')}}
      {{fa-icon 'plus-square'}}
      {{bs-tooltip title='add Property'}}
    {{/bs-button}}
  {{/if}}
  
  {{#if confirmNodeDelete}}

    {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'cancelNodeDelete' node)}}
      {{fa-icon 'times'}}
      {{bs-tooltip title='Cancel'}}
    {{/bs-button}}
    {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmNodeDelete' node)}}
      {{fa-icon 'check'}}
      {{bs-tooltip title='Confirm'}}
    {{/bs-button}}

  {{else}}
    {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'deleteNode' node)}}{{fa-icon 'trash'}}{{bs-tooltip title='Delete Node'}}{{/bs-button}}
  {{/if}}

{{else}}

  {{!Properties}}
  {{#each-in model.properties as |key value|}}
    <form>
      <div class='form-group row'>
        <label for='key' >{{key}}:&nbsp;</label>
          {{value}}  
      </div>
    </form>
  {{else}}
    <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
              <stop stop-color="black" stop-opacity="0" offset="0%"/>
              <stop stop-color="grey" stop-opacity=".631" offset="63.146%"/>
              <stop stop-color="blue" offset="100%"/>
          </linearGradient>
      </defs>
      <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)">
              <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="0.9s"
                      repeatCount="indefinite" />
              </path>
              <circle fill="#fff" cx="36" cy="18" r="1">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="0.9s"
                      repeatCount="indefinite" />
              </circle>
          </g>
      </g>
    </svg>
  {{/each-in}}

{{/if}}


{{!-- {{#each (group-by  model.propertiesCount) as |properties|}}
  {{properties}}
{{/each}} --}}


{{#if noLabelsAlert}}
  {{#bs-modal backdropClose=false keyboard=false as |modal|}}
    {{#modal.body}}
      You must assign a label to this node.<br>
      Nodes without labels will no longer be accessible.
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'submit')}}{{fa-icon 'times'}}{{bs-tooltip title="Close"}}{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}

  <h6>Connected Properties</h6>
  <ul>
    {{#each-in model.propertiesCount as |key value|}}
      <li>
        {{value}} {{key}}
      </li>
    {{else}}
      <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                <stop stop-color="black" stop-opacity="0" offset="0%"/>
                <stop stop-color="grey" stop-opacity=".631" offset="63.146%"/>
                <stop stop-color="blue" offset="100%"/>
            </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite" />
                </path>
                <circle fill="#fff" cx="36" cy="18" r="1">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite" />
                </circle>
            </g>
        </g>
      </svg>
    {{/each-in}}
  </ul>

    {{!Connection count}}
    <h6> Types of connected Labels </h6>
    <ul>
    {{#each-in model.labelCount as |key value|}}
      <li>
        {{value}} "{{key}}"
        {{#bs-button type='button' class='btn-outline-default outline-light btn-xs reveal-connections' onClick=(action 'reveal' key)}}{{fa-icon 'eye'}}{{/bs-button}}
      </li>
    {{/each-in}}
  </ul>
  <hr>

  <h6> Types of connected Relationships </h6>
  <ul>
    {{#each-in model.relationshipCount as |key value|}}
      <li>{{value}} "{{key}}" </li>
    {{/each-in}}
  </ul>