{{!-- Close --}}
{{#bs-button type="button" class='close-edit' onClick=(action 'close')}}{{fa-icon 'times'}}{{bs-tooltip title='Close'}}{{/bs-button}}

{{#if isEditing}}
{{!-- Editing --}}
  <div class="node-header">
    <h4 class="node-name">{{input type='textarea' value=model.name focus-out=(action 'blurNewName' model.name)}}</h4>  
    <span class="button-toolbar">
      <span class="buttons">
        <button {{action 'save'}} class="button confirm">{{fa-icon 'save'}}{{bs-tooltip title='Save all Properties'}}</button>
        {{#if confirmNodeDelete}}
          <button {{action 'cancelNodeDelete'}} class="button cancel">{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}</button>
          <button {{action 'confirmNodeDelete'}} class="button confirm">{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}</button>
        {{else}}
          <button {{action 'deleteNode'}} class="button cancel">{{fa-icon 'trash'}}{{bs-tooltip title='Delete Node'}}</button>
        {{/if}}
      </span>
    </span>
  </div>
  <div class="labels-section">
    <h5 class="label-title">Labels</h5>
    <div class="label-list">
      {{#each model.labels as |label|}}
        <div class='label'>
          {{!-- colored circle component should go here --}}
          <label for="name" class='badge badge-pill' style='background:{{model.color}}'>
            {{bs-tooltip title=label}}
            {{label}}
            {{#bs-button class='badge badge-pill badge-outline remove-label-button' onClick=(action 'deleteLabel' label)}}
              {{fa-icon 'times'}}
            {{/bs-button}}
          </label>
        </div>
      {{/each}}

      {{#power-select renderInPlace=true selected=labelChoice options=labelTypes onkeydown=(action 'customLabel') onchange=(action 'chooseLabel') as |type|}}
        {{type}}
      {{/power-select}}
    </div>
  </div>
  <div class="properties">
    <h5 class="property-title">
      Properties
      {{#if newProperty}}
        <button {{action "closeNewProperty"}} class="button cancel">{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}</button>
      {{else}}
        <button {{action "newProperty"}} class="button confirm">{{fa-icon 'plus'}}{{bs-tooltip title='Add Property'}}</button>
      {{/if}}
    </h5>
    <div class="property-list">
      {{#each-in model.properties as |key value|}}
        <form>
          <div class='form-group row'>
            {{!Editable property key}}
            <label for='key' class='col-5'>
              {{input type='textarea' class='form-control' value=key focus-out=(action 'blurKey' key value)}}
            </label>
            {{!Editable property value}}
            <div class='col-5.5'>
              {{input type='textarea' class='form-control' value=value  focus-out=(action 'blurValue' key)}}
            </div>
            {{!Delete property buttons}}
            {{#if confirmPropertyDelete}}
              <div class='col-1'>
                <button {{action "cancelPropertyDelete"}} class="button cancel">{{fa-icon 'times'}}{{bs-tooltip title='Cancel'}}</button>
                <button {{action "confirmPropertyDelete" key}} class="button confirm">{{fa-icon 'check'}}{{bs-tooltip title='Confirm'}}</button>
              </div>
            {{else}}
              <div class='col'>
                <button {{action "deleteProperty"}} class="button cancel">{{fa-icon 'trash'}}{{bs-tooltip title='Delete Property'}}</button>
              </div>
            {{/if}}
          </div>
        </form>
        {{!New property}}
      {{/each-in}}
      {{#if newProperty}}
        <form>
          <div class='form-group row'>
            <div class='col-5'>
              {{input type='textarea' class='form-control' value=newPropertyKey focus-out=(action 'blurNewPropertyKey' value newPropertyKey)}}
            </div>
              <div class='col col-7'>
                {{input type='textarea' class='form-control' value=newPropertyValue focus-out=(action 'blurNewPropertyValue' newPropertyValue newPropertyKey)}}
              </div>
          </div>
        </form>
      {{/if}}
    </div>
  </div>

{{else}}
{{!-- Not Editing --}}

  {{!-- Node name --}}
  <div class="node-header">
    <span class="node-name">{{model.name}}</span>
    <button class="button confirm" {{action 'editModeEnable'}}>{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}</button>
  </div>
  {{!-- Enable Edit Mode --}}

  <div class="labels-section">
    <h5 class="label-title">Labels</h5>
    <div class="label-list">
      <div class='label'>
        {{#each model.labels as |label|}}
          <label for="name" class='badge badge-pill' style='background:{{model.color}}'>{{bs-tooltip title=label}}{{label}}</label>
        {{/each}}
      </div>
    </div>
  </div>


{{!-- Properties --}}
<div class="properties">
  <h5 class="property-title">Properties</h5>
  <div class='property-list'>
    {{#each-in model.properties as |key value|}}
      <form>
        <div class="property">
          {{key}}:
          {{value}}  
        </div>
      </form>
    {{/each-in}}
  </div>
</div>

  {{!Connection count}}
    <div class="connected">
      <h6 class="title"> Types of connected Labels </h6>
      <div class="list-outline">
        <div class="list">
          {{#each-in model.labelCount as |key value|}}
          <div class="property">
            <div class="item">
                {{value}} "{{key}}"
                <button {{action "reveal" key}} class="reveal-connections">{{fa-icon 'eye'}}</button>
            </div>
          </div>
          {{/each-in}}
        </div>
      </div>
    </div>

    <div class="connected">
      <h6 class="title"> Types of connected Relationships </h6>
      <div class="list-outline">
        <div class="list">
          {{#each-in model.relationshipCount as |key value|}}
            <div class="property">
              <div class="item">
                {{value}} "{{key}}"
              </div>
            </div>
          {{/each-in}}
        </div>
      </div>
    </div>

    <div class="connected">
      <h6 class="title">Connected Properties</h6>
      <div class="list-outline">
        {{#each-in model.propertiesCount as |key value|}}
          <div class="property">
            <div class="item">
              {{value}} {{key}}
            </div>
          </div>
        {{else}}
          No connections found
        {{/each-in}}
      </div>
    </div>
{{/if}}