<div class="container-fluid">
  <div style='position:fixed;right:0;'>
      {{#bs-button type="button" class='group-list-item btn-light btn close-edit' onClick=(action 'close')}}
        {{fa-icon 'times'}}
        {{bs-tooltip title='Close'}}
      {{/bs-button}}
      <br>
  </div>

  {{#if isEditing}}
    {{#bs-form formLayout=formLayout model=this onSubmit=(action "save") as |form|}}
      <h4>
        {{model.name}}
        {{#bs-button class="group-list-item btn-outline-danger btn-xs" onClick=(action 'disableEditMode')}}
          {{fa-icon 'times'}}
          {{bs-tooltip title='Close edit mode without saving'}}
        {{/bs-button}}
      </h4>

      {{!-- Labels --}}
      <div class="card">
        <div class="card-header">
          <h5>Labels</h5>
        </div>
        <div class="card-body">
          {{#each model.labels as |label|}}
            <span class="badge badge-pill" style="background:{{model.color}}">
              {{label}}
              {{#bs-button class='badge badge-pill badge-outline remove-label-button' onClick=(action 'deleteLabel' label)}}
            {{fa-icon 'times'}}
          {{/bs-button}}
            </span>
          {{/each}}

          {{#power-select renderInPlace=true selected=labelChoice options=labelTypes onkeydown=(action 'customLabel') onchange=(action 'chooseLabel') as |type|}}
            {{type}}
          {{/power-select}}
        </div>
      </div>
      <hr>

      {{!-- Properties --}}
      <div class="card">
        <div class="card-header">
          <h5>Properties</h5>
        </div>
        <div class="card-body">
          <div class="row">
            {{#each-in model.properties as |propertyKey propertyValue|}}
              <div class="col-4">
                {{input type='textarea' class='form-control' value=propertyKey focus-out=(action 'blurKey' propertyKey propertyValue)}}
              </div>
              <div class="col-5">
                {{input type='textarea' class='form-control' value=propertyValue  focus-out=(action 'blurValue' propertyKey)}}
              </div>

              {{!Delete property button}}
              {{#if confirmPropertyDelete}}
                <div class="propertyDeleteButtons">
                  {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'cancelPropertyDelete')}}
                    {{fa-icon 'times'}}
                    {{bs-tooltip title='Cancel'}}
                  {{/bs-button}}
                  {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmPropertyDelete' propertyKey)}}
                    {{fa-icon 'check'}}
                    {{bs-tooltip title='Confirm'}}
                  {{/bs-button}}
                </div>
              {{else}}
                <div class="propertyDeleteButtons">
                  {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'deleteProperty')}}{{fa-icon 'trash'}}{{bs-tooltip title='Delete Property'}}{{/bs-button}}
                </div>
              {{/if}}
            {{/each-in}}

            {{!-- New Property --}}
            {{#if newProperty}}
              <div class='form-group row'>
                <div class='col-5'>
                  {{input type='textarea' class='form-control' value=newPropertyKey focus-out=(action 'blurNewPropertyKey' value newPropertyKey)}}
                </div>
                <div class='col col-7'>
                  {{input type='textarea' class='form-control' value=newPropertyValue focus-out=(action 'blurNewPropertyValue' newPropertyValue newPropertyKey)}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <hr>

      {{!-- buttons --}}
      {{#if newProperty}}
        {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'closeNewProperty')}}
          {{fa-icon 'times'}}
          {{bs-tooltip title='Cancel'}}
        {{/bs-button}}
      {{else}}
        {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'newProperty')}}
          {{fa-icon 'plus-square'}}
          {{bs-tooltip title='Add Property'}}
        {{/bs-button}}
      {{/if}}

      {{#bs-button type="primary" buttonType="submit" class="group-list-item btn-outline-success btn-xs"}}
        {{fa-icon 'save'}}
        {{bs-tooltip title='Save all Properties' }}
      {{/bs-button}}

      {{#if confirmNodeDelete}}

        {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'cancelNodeDelete' node)}}
          {{fa-icon 'times'}}
          {{bs-tooltip title='Cancel'}}
        {{/bs-button}}
        {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'confirmNodeDelete' node)}}
          {{fa-icon 'check'}}
          {{bs-tooltip title='Confirm'}}
        {{/bs-button}}

      {{else}}
        {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action 'deleteNode' node)}}
          {{fa-icon 'trash'}}
          {{bs-tooltip title='Delete Node'}}
        {{/bs-button}}
      {{/if}}
    {{/bs-form}}
  {{else}}
    <h4>
      {{model.name}} {{#bs-button type="button" class='group-list-item btn-outline-primary btn-xs' onClick=(action 'editModeEnable')}}{{fa-icon 'pencil-alt'}}{{bs-tooltip title='Edit Node'}}{{/bs-button}}
    </h4>
    <div class="card">
      <div class="card-header">
          <h5>Labels</h5>
      </div>
      <div class="card-body">

    {{#each model.labels as |label|}}
      <span class="badge badge-pill" style="background:{{model.color}}">
        {{label}}
      </span>
    {{/each}}
    </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Properties</h5>
      </div>
      <div class="card-body">
        {{#each-in model.properties as |propertyKey propertyValue|}}
          {{propertyKey}}: {{propertyValue}}<br>
        {{/each-in}}
      </div>
    </div>
    <hr>
  {{/if}}
</div>

{{!-- Modal appears when a node with no labels tries to be saved --}}
{{#if noLabelsAlert}}
  {{#bs-modal backdropClose=false keyboard=false as |modal|}}
    {{#modal.body}}
      You must assign a label to this node.<br>
      Nodes without labels will no longer be accessible.
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'submit')}}
        {{fa-icon 'times'}}
        {{bs-tooltip title="Close"}}
      {{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}

{{!-- WIP reveal all this node's connections and connected properties --}}
  {{!-- <h6>Connected Properties</h6>
  <ul>
    {{#each-in model.propertiesCount as |key value|}}
      <li>
        {{value}} {{key}}
      </li>
    {{else}}
      Loading connections...
    {{/each-in}}
  </ul> --}}

    {{!Connection count}}
    {{!-- <h6> Types of connected Labels </h6>
    <ul>
    {{#each-in model.labelCount as |key value|}}
      <li>
        {{value}} "{{key}}"
        {{#bs-button type='button' class='btn-outline-default outline-light btn-xs reveal-connections' onClick=(action 'reveal' key)}}{{fa-icon 'eye'}}{{/bs-button}}
      </li>
    {{/each-in}}
  </ul>
  <hr>

  <h6> Types of connected Relationships </h6>
  <ul>
    {{#each-in model.relationshipCount as |key value|}}
      <li>{{value}} "{{key}}" </li>
    {{/each-in}}
  </ul> --}}