<div class="layout-row layout-wrap">
  <div class="flex-sm-100 flex-50">
    <div class="toolbar">
      {{visualization/canvas-toolbar
        label=label
        property=property
        searchTerm=searchTerm
      }}
    </div>
    {{visualization/canvas-surface
      nodes=groupedNodes
      clickedNode=(action "clickedNode")
      doubleClickedNode=(action "doubleClickedNode")
      hoveringOverNode=(action "hoveringOverNode")
    }}
  </div>
  <div class="flex-sm-100 flex-50">
    {{#if currentlySelectedNode}}
      {{visualization/node-properties node=currentlySelectedNode}}
    {{else}}
      {{visualization/tool-tip}}
    {{/if}}
  </div>
</div>