<Visualization::canvasToolbar @label={{this.label}} @property={{this.property}} @searchTerm={{this.searchTerm}} @loaded={{this.loaded}} />
<div class="container">
  <div class="row">
    <div class="col-6">
      <Visualization::graph
        @interactive=true
        @nodes={{this.items}}
        @clickedNode={{action "clickedNode"}}
        @doubleClickedNode={{action "doubleClickedNode"}}
        @hoveringOverNode={{action "hoveringOverNode"}}
        bubbles=false
      />

      <Node::nodeHover @node={{this.nodeBeingHoveredOver}} />

    </div>
    <div class="col-6">
      {{#if currentlySelectedNode}}
        {{!-- <nodeMain @node={{currentlySelectedNode}} /> --}}
        {{nodeMain node=currentlySelectedNode}}
        {{!-- {{else}}
  <Visualization::toolTip /> --}}
      {{/if}}

    </div>
  </div>

</div>