<div class="layout-row flex">
  <div class="flex-gt-sm-70 flex-50">
    {{visualization/canvas-toolbar}}
    {{nodes.length}}
    {{visualization/canvas-surface
      nodes=nodes
      clickedNode=(action "clickedNode")
    }}
  </div>
  <div class="flex-gt-sm-30 flex-50">
    {{#if selectedNode}}
      {{visualization/node-properties}}
    {{else}}
      {{visualization/tool-tip}}
    {{/if}}
  </div>
</div>