<div class="layout-row layout-wrap">
  <div class="flex-sm-100 flex-50">
    <div class="toolbar">
      {{visualization/canvas-toolbar}}
    </div>
    {{visualization/canvas-surface
      nodes=nodes
      clickedNode=(action "clickedNode")
    }}
  </div>
  <div class="flex-sm-100 flex-50">
    {{#if currentlySelectedNode}}
      {{visualization/node-properties node=currentlySelectedNode}}
    {{else}}
      {{visualization/tool-tip}}
    {{/if}}
  </div>
</div>