<Visualization::Toolbar @label={{this.label}} @property={{this.property}} @searchTerm={{this.searchTerm}} @loaded={{this.loaded}} @clearCanvas={{clearCanvas}} />

<div class="row">
  <div class="col-8">
    {{!-- <button {{on "click" (action clearCanvas)}}>Clear</button> --}}

    <Visualization::graph @interactive=true @nodes={{this.nodes}} @links={{this.links}} @clickedNode={{action "clickedNode"}} @doubleClickedNode={{action "doubleClickedNode"}} @hoveringOverNode={{action "hoveringOverNode"}} bubbles=false />

    <Node::nodeHover @node={{this.nodeBeingHoveredOver}} />

  </div>
  <div class="col-4">
    {{#if currentlySelectedNode}}
    <Node::Base @node={{currentlySelectedNode}}/>
    {{/if}}

  </div>
</div>