<Visualization::Toolbar @labels={{labels}} @properties={{properties}} @searchTerms={{searchTerms}} @loaded={{this.loaded}} @clearCanvas={{clearCanvas}} />

<div class="row">
  <div class="col-8">

    <Visualization::graph @interactive=true @nodes={{this.nodes}} @links={{this.links}} @clickedNode={{action "clickedNode"}} @doubleClickedNode={{action "doubleClickedNode"}} @hoveringOverNode={{action "hoveringOverNode"}} bubbles=false />

    <Node::nodeHover @node={{this.nodeBeingHoveredOver}} />

  </div>
  <div class="col-4">
    {{#if currentlySelectedNode}}
    <Node::Base @node={{currentlySelectedNode}}/>
    {{/if}}

  </div>
</div>