{{#if isSearching}}
  <Visualization::Toolbar::queryBuilder @search={{action 'search'}} @isSearching={{mut isSearching}}/>
{{/if}}
<button {{on "click" (action (mut isSearching) (not isSearching))}}>Search</button>
<button {{on "click" (action this.clearCanvas)}}>Clear</button>
<button {{on "click" (action this.undo)}}>Undo</button>