<h4>
  {{sourceNode.name}}
</h4>
<h4>
  {{destinationNode.name}}
</h4>

<RelationshipList as |allRelationships|>
  <PowerSelect
    @searchEnabled={{true}}
    @options={{allRelationships}}
    @selected={{this.selectedRelationshipType}}
    @placeholder="Select a relationship"
    @onchange={{action (mut this.selectedRelationshipType)}}
  as |label|>
    {{label}}
  </PowerSelect>
</RelationshipList>

<button {{on "click" (fn (action createRelationship) this.selectedRelationshipType)}} disabled={{this.buttonIsDisabled}}>
  Create relationship
</button>