{{!--
  The main page of the web application. It holds the navbar, and is the location of the modal that forms when creating a relationship between nodes.
  --}}

<div class='container-fluid'>
  <div class='page-header'>
    <div class='col'>
      <h2>{{#link-to 'welcome'}}{{projectName}}{{/link-to}} <sup style='opacity:0.75;font-size:50%' class='badge badge-pill badge-success'>Graphing tool</sup></h2>
    </div>
  </div> 
  <div class='row'>
    <div class='col'>
      {{outlet}}
    </div>
  </div>
</div>


<div class='container' style='margin:50px;'>
  <div class='row'>
    <div class='col'>
    </div>
  </div>
</div>

{{!showModal state is set to true when a source and destination node are selected. Set to false when relationship dialogue is cancelled/submitted.}}
{{#if rb.showModal}}
  {{#bs-modal onSubmit=(action 'submit') as |modal|}}
    {{#modal.header}}
      Create a Relationship
    {{/modal.header}}
    {{#modal.body}}
      Source ID: {{rb.source}}<br>
      Destination ID: {{rb.destination}}<br>
      Relationship Type: {{#power-select renderInPlace=true selected=choice options=types onchange=(action "chooseType") as |type|}}
        {{type}}

      {{/power-select}}
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button type="button" class='group-list-item btn-outline-danger btn-xs' onClick=(action modal.close)}}{{fa-icon 'times'}}{{bs-tooltip title="Close"}}{{/bs-button}}
      {{#bs-button type="button" class='group-list-item btn-outline-success btn-xs' onClick=(action 'submit' rb.source rb.destination)}}{{fa-icon 'check'}}{{bs-tooltip title="Create"}}{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}
