<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>Login</h3>
      </div>
    </div>
    <div class="card-body">
      {{#bs-form formLayout="vertical" model=this onSubmit=(action "submit") as |form|}}
        {{form.element controlType="text" required=true placeholder="bolt://..." property="connection"}}

        {{form.element controlType="text" required=true placeholder="Neo4j Username" property="neo4jUser"}}
        {{form.element controlType="password" required=true placeholder="Neo4j Password" property="neo4jPass"}}

        {{form.element controlType="text" required=true  placeholder="Username" property="user"}}
        {{form.element controlType="password" required=true  placeholder="Password" property="password"}}

        {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
        {{#if incorrectLogin}}
          <span class='warning'>Incorrect Username or Password</span>
        {{/if}}
        {{#if incorrectConnection}}
          <span class='warning'>Incorrect Connection</span>
        {{/if}}
      {{/bs-form}}
    </div>
  </div>
</div>