
<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3>Login</h3>

      <div class='form-group'>
        <label for="usr">BOLT Connection:</label>
        {{input class='form-control' type='text' value=bolt}}
      </div>

      <div class='form-group'>
        <label for="usr">Neo4j Username:</label>
        {{input class='form-control' type='text' value=neo4jUser}}
      </div>

      <div class='form-group'>
        <label for="usr">Neo4j Password:</label>
        {{input class='form-control' type='password' value=neo4jPass}}
      </div>

      <div class='form-group'>
        <label for="usr">User:</label>
        {{input class='form-control' type='text' value=user}}
      </div>

      <div class='form-group'>
      <label for="password">Password:</label>
        {{input class='form-control' type='password' value=password}}
      </div>

        {{#bs-button onClick=(action 'submit' bolt neo4jUser neo4jPass user password)}}Submit{{/bs-button}}
        {{#if noLogin}}
          <span style='opacity:0.70;color:red;'>
            &nbsp;Please enter login credentials
          </span>
        {{/if}}
    </div>
  </div>
</div>


